.container {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1rem;
  border-radius: 0.5rem;
  margin: 1rem 0;
  background-color: rgb(255, 255, 255, 0.95);
  color: rgba(0, 0, 0, 0.8);
}

.countryInfo {
  display: flex;
  justify-content: space-evenly;
  padding: 0.3rem;
  flex-direction: row;
  align-items: center;
  font-size: 1rem;
}

select {
  margin: 0.3rem;
  border-color: red;
}

img {
  width: 2rem;
}

.allBoxes {
  display: flex;
  justify-content: space-around;
  margin: 1.6rem;
}

.box {
  /* border: 1px solid blue; */
  font-size: 0.9rem;
  border-radius: 0.5rem;
  text-align: center;
  line-height: 1.7rem;
  padding: 0.3rem;
}

.cumulative {
  margin: 1rem 0;
  line-height: 1.2;
}

.newCases {
  margin: 1rem 0;
  line-height: 1.2;
}

.confirmed {
  /* background-color: rgba(77, 5, 232, 0.6); */
  background-color: rgb(0, 0, 255, 0.1);
  border: 0.05rem solid blue;
}

.recovered {
  /* background-color: rgba(0, 230, 64, 0.6); */
  background-color: rgb(0, 128, 0, 0.1);
  border: 0.05rem solid green;
}

.deaths {
  /* background-color: rgba(240, 52, 52, 0.6); */
  background-color: rgb(255, 0, 0, 0.1);
  border: 0.05rem solid red;
}

@media (max-width: 360px) {
  .container {
    font-size: 0.5rem;
  }

  .countryInfo {
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
  }

  img {
    width: 1.8rem;
  }

  .allBoxes {
    margin: auto;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 1rem;
  }

  .box {
    /* margin: 0.2rem; */
    line-height: 1rem;
  }
}

@media (max-width: 720px) {
  .container {
    font-size: 0.7rem;
  }

  .countryInfo {
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
  }

  img {
    width: 1.8rem;
  }

  .allBoxes {
    margin: auto;
    flex-direction: column;
    justify-content: space-evenly;
    /* padding: 1rem; */
    margin: 1rem;
  }

  .box {
    margin: 0.2rem;
    line-height: 1rem;
  }
}

@media (min-width: 720.1px) {
  .container {
    font-size: 0.7rem;
    padding: 0.5rem;
  }

  .countryInfo {
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    font-size: 0.8rem;
  }

  img {
    width: 1.8rem;
  }

  .allBoxes {
    margin: auto;
    justify-content: space-evenly;
    margin: 0 0.7rem;
  }

  .box {
    padding: 0.1rem;
    margin: 0.2rem 0.7rem;
    line-height: 1rem;
    width: 40%;
  }

  .recovered {
    padding-top: 2rem;
  }
}
