/* .container {
  border: solid 1px blue;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
} */

h2 {
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

.chart {
  margin: 1rem 0;
  /* border: solid 1px red; */
  border-radius: 0.5rem;
  text-align: center;
  background-color: rgb(240, 248, 255, 0.8);
}

.canvasContainer {
  height: 70vh;
  display: flex;
  flex-direction: row;
}

@media (max-width: 360px) {
  h2 {
    font-size: 0.5rem;
  }

  .chart {
    margin: 0.5rem 0;
    /* border: solid 1px red; */
    border-radius: 0.2rem;
    text-align: center;
  }

  .canvasContainer {
    height: 70vh;
    display: flex;
    flex-direction: row;
  }
}

@media (max-width: 720px) {
  h2 {
    font-size: 0.7rem;
  }

  .chart {
    margin: 0.7rem 0;
    /* border: solid 1px red; */
    border-radius: 0.5rem;
    text-align: center;
  }
}
