/* primary-color: #FF6701  */

.container {
  border: 1px solid blue;
  border-radius: 0.5rem;
  padding: 1rem;
  background: #ff6701;
  opacity: 0.9;
}

.box {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
}

.boxContent {
  display: flex;
  justify-content: space-evenly;
  padding: 0.2rem;
}
