/* primary-color: #FF6701  */

.container {
  /* border: 0.3rem solid #ff6701; */
  border-radius: 0.5rem;
  /* padding: 1rem; */
  background-color: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 0.8);
  opacity: 0.9;
}

.header {
  line-height: 1.8rem;
  text-align: center;
  margin: 1rem 0 0 0;
  padding: 0.6rem 0 0 0;
  /* border: 1px solid blue; */
  border-radius: 0.5rem;
}

.update {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 1rem;
}

.global {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
}

.boxContent {
  display: flex;
  flex-direction: column;
  line-height: 1.5rem;
  text-align: left;
  /* border: 1px solid blue; */
  border-radius: 0.3rem;
  padding: 0.9rem 0.5rem;
  font-size: 0.9rem;
}

.cumulative {
  border: 0.05rem solid blue;
  background-color: rgb(0, 0, 255, 0.1);
}

.newCases {
  border: 0.05rem solid red;
  background-color: rgb(255, 0, 0, 0.1);
}

i {
  display: block;
  margin-bottom: 0.3rem;
}

/* responsive  */
@media (max-width: 360px) {
  .container {
    font-size: 0.5rem;
  }

  .global {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem;
    margin: 1rem;
  }

  .boxContent {
    margin: 0.2rem 0;
    text-align: center;
  }
}

@media (max-width: 720px) {
  .container {
    font-size: 0.55rem;
  }

  .global {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem;
    margin: 0 1rem 1rem 1rem;
  }

  .boxContent {
    margin: 0.2rem 0;
    text-align: center;
  }
}

@media (min-width: 720.1px) {
  .container {
    font-size: 0.68rem;
  }

  .global {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    margin: 0 1rem 1rem 1rem;
  }

  .boxContent {
    margin: 0.2rem 0;
    text-align: center;
    width: 10rem;
  }
}
